/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.main-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
nav {
  width: 100%;
  display: flex;
  box-sizing: border-box;
}
a {
  display: flex;
  width: 70%;
  justify-content: space-between;
  font-size: 100px;
  margin: 5px;
}
