/* HTML5 display-role reset for older browsers */
:root {
  --text-color: blue;
  --font-family: 'Sacramento', cursive;
  --text-align: center;
}
a {
  color: var(--text-color);
  text-decoration: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  display: block;
  justify-content: flex-end;
}

/* Navigation */ 
 nav a {
  border: 20px solid red;
  display: flex;
  margin-left: 80%;
  width: 20%;
  align-items: flex-end;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 20px;
  

}


head {
  background-color: var(--background-color);

  
}
html,
body {
  height: 1%;
  background-color: var(--background-color);
}

/* header h1 and p tag */
header {
  padding-top: 5%;
  width: 50%;
  margin-left: 100px;
  font-style: sans-serif;
  font-size: 30px;
  border: 20px solid blue;
  margin-right: 10%;


}
 body {
	  color: var(--color);
	  margin: 0;
	  text-align: var(--text-align);
    font-family: 'Merriweather', serif;
    background-color: grey;
    
	}
h1 {
  color: var(--color);
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 50px;
}
h2 {
  color: var(--color);
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  color: #11999E;
  font-family: var(--font-family);
}
p {
  line-height: 2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  font-size: 20px;
}
a {
  color: #11999E;
  font-family: var(--font-family);
  margin: 10px 20px;
  text-decoration: none;
}


a:hover {
  color: red;
}

div .content-2 h1 {
  padding-top: 10%;
}
.content-1 {
  border: 20px solid rebeccapurple;
  display: flex;
  justify-content: baseline;
}

.content-1 h1 {
  display: flex;
  justify-content: baseline;
}

.content-2 {
  display: block;
  flex-direction: row;
  padding-bottom: 10%;
}

img {
  width: 20%;
  height: 20%;
}


.contact-section {
  width: 100%;
  background: black;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
