
/* HTML5 display-role reset for older browsers */

:root {
	--text-color: blue;
	--font-family: var(--font-family);
	--text-align: left;
  }
  
  .bordered {
	border-top: dotted 1px black;
	border-bottom: solid 2px black;
  }

  
  a {
	color: var(--text-color);
	.bordered;
	text-decoration: none;	

  }


  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
	display: block;
  }
  body {
	line-height: 1;
  }
  ol,
  ul {
	list-style: circle;
  }
  blockquote,
  q {
	quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
	content: '';
	content: none;
  }
  table {
	.bordered;
  }
  /* Set every element's box-sizing to border-box */
  * {
	box-sizing: border-box;
  }

  head {
	background-color: var(--background-color);
  }



  html,
  body {
	height: 1%;
	background-color: var(--background-color);
	

	
  }

  body {
		width: 1160px;
		margin-left: 450px;
		font-style: sans-serif;
		font-size: 30px;
		color: #778899;
	  }
  
 
  
  
 /* body {
	  color: var(--color);
	  margin: 0;
	  text-align: var(--text-align);
	  font-family: 'Merriweather', serif;
	  border: 20px solid red;
	}*/
	
	h1 {
	  color:var(--color);
	  font-size: 5.625rem;
	  margin: 50px auto 0 auto;
	  font-family: 'Sacramento', cursive;
	  
	}
	
	h2 {
	  color: var(--color);
	  font-family: var(--font-family);
	  font-size: 2.5rem;
	  font-weight: normal;
	  padding-bottom: 10px;
	}
	
	h3 {
	  color: #11999E;
	  font-family: var(--font-family);
	}
	
	p {
	  line-height: 2;
	}
	
	a{
	  color: #11999E;
	  font-family: var(--font-family);
	  margin: 10px 20px;
	  text-decoration: none;
	}
	
	a:hover {
	  color: #EAF6F6;
	}
	
	.top-container {
	  background-color: #E4F9F5;
	  position: relative;
	  padding-top: 100px;
	}
	
	.middle-container {
	  margin: 100px 0;
	}
	
	.bottom-container {
	  background-color: var(--color);
	  padding: 50px 0 20px;
	}
	
	.skill-row {
	  width: 50%;
	  margin: 100px auto 100px auto;
	  text-align: left;
	}
	
	.pro {
	  text-decoration: underline;
	}
	
	.intro {
	  width: 30%;
	  margin: auto;
	}
	
	.contact-message {
	  width: 40%;
	  margin: 40px auto 60px;
	}